/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --heading-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --section__title: #FF0070;
  --main-text-color: #F1B2CE;
  --menu-text-color: #FF0070;
  --header-button-hover: rgba(255, 0, 112, 0.4);
  --header-button-active: rgba(255, 0, 112);
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --background-image: url(../images/cover-image-dark.png);
}
